In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [25]:
#Question 1: If you know that in the world table, the continent of the countries Armenia, Azerbaijan, Russia, Georgia and Turkey is not Europe.  Write a query that returns  the  total  area  of  the  European  countries  after  adding  the  area  of these countries.
world = pd.read_csv('world.csv', encoding='latin-1')
sum(world.loc[world['continent'] == 'Europe']['area'], sum(world.loc[world['name'].isin(['Armenia','Azerbaijan', 'Russia', 'Georgia', 'Turkey'])]['area']))

26809176

In [187]:
#Question 2: Write a query that returns the names of the players in the German team whoscored at least one goal with the name of the stadium where they scored thegoals.
game = pd.read_csv('game.csv')
goal = pd.read_csv('goal.csv', encoding='latin-1')
match = pd.merge(game, goal, left_on='id', right_on='matchid', how='outer')
match.loc[match['team1'] == 'GER',['player' , 'stadium']]

                  player                   stadium
15           Mario Gómez                Arena Lviv
61          Philipp Lahm          PGE Arena Gdansk
62      Georgios Samaras          PGE Arena Gdansk
63          Sami Khedira          PGE Arena Gdansk
64        Miroslav Klose          PGE Arena Gdansk
65            Marco Reus          PGE Arena Gdansk
66  Dimitris Salpingidis          PGE Arena Gdansk
71       Mario Balotelli  National Stadium, Warsaw
72       Mario Balotelli  National Stadium, Warsaw
73            Mesut Özil  National Stadium, Warsaw

In [180]:
#Question 3: Write a query which would show the players and their teams for those whohave scored against France (FRA) in Donbass Arena.
match.loc[(match['team2'] == 'FRA') & (match['teamid'] != 'FRA') & (match['stadium'] == 'Donbass Arena'),['player', 'teamid']]

         player teamid
67  Xabi Alonso    ESP
68  Xabi Alonso    ESP

In [178]:
#Question 4: Write a query that displays the name and the the average population of thecontinent in the world table.
worlds = world.groupby('continent').sum()['population']/world.groupby('continent').count()['name']
print(worlds)

continent
Africa           1.880579e+07
Asia             9.390367e+07
Caribbean        3.286291e+06
Eurasia          7.450870e+07
Europe           1.448092e+07
North America    4.715956e+07
Oceania          2.698820e+06
South America    3.135531e+07
dtype: float64

In [146]:
#Question 5: Write a query to return the number of missing values in each column of theworld table [only in Python for now].  Use the world table.
world.isnull().sum()

name          0
continent     0
area          0
population    0
gdp           6
capital       1
tld           0
flag          0
dtype: int64

In [165]:
#Question 6: Write a query that lists the countries with no missing values in their gdp. Use the world table.
world.loc[world['gdp'].notna()] ['name']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: name, Length: 189, dtype: object

In [164]:
#Question 7: Write a query that lists the countries with no missing values in any of their attributes
world.dropna()

,name,continent,area,population,gdp,capital,tld,flag
0,Afghanistan,Asia,652230,25500100,2.036400e+10,Kabul,.af,//upload.wikimedia.org/wikipedia/commons/9/9a/...
1,Albania,Europe,28748,2821977,1.204400e+10,Tirana,.al,//upload.wikimedia.org/wikipedia/commons/3/36/...
2,Algeria,Africa,2381741,38700000,2.070210e+11,Algiers,.dz,//upload.wikimedia.org/wikipedia/commons/7/77/...
3,Andorra,Europe,468,76098,3.222000e+09,Andorra la Vella,.ad,//upload.wikimedia.org/wikipedia/commons/1/19/...
4,Angola,Africa,1246700,19183590,1.163080e+11,Luanda,.ao,//upload.wikimedia.org/wikipedia/commons/9/9d/...
...,...,...,...,...,...,...,...,...
190,Venezuela,South America,916445,28946101,3.824240e+11,Caracas,.ve,//upload.wikimedia.org/wikipedia/commons/0/06/...
191,Vietnam,Asia,331212,89708900,1.558200e+11,Hanoi,.vn,//upload.wikimedia.org/wikipedia/commons/2/21/...
192,Yemen,Asia,527968,25235000,3.283100e+10,Sanaa,.ye,//upload.wikimedia.org/wikipedia/commons/8/89/...
193,Zambia,Africa,752612,15023315,2.149000e+10,Lusaka,.zm,//upload.wikimedia.org/wikipedia/commons/0/06/...
194,Zimbabwe,Africa,390757,13061239,9.802000e+09,Harare,.zw,//upload.wikimedia.org/wikipedia/commons/6/6a/...

In [177]:
#Question 8: Write a query to calculate the average budget for movies produced in USA since 2010
movies = pd.read_csv('movies.csv')
movies.loc[(movies['country'] == 'USA') & (movies['title_year'] >= 2010),['budget']].mean()

budget    5.188213e+07
dtype: float64

In [188]:
#Question 9: Write a query to count the number of unique directors by names. Use the movies table.
len(movies['director_name'].unique())

1893

In [198]:
#Question 10: Write a query that returns the years in which no Nobel price is giver for physics. Use the nobel table.
nobel = pd.read_csv('nobel.csv')
nobel.loc[nobel['subject'] != 'physics'] ['yr'].unique()
nobel

       yr     subject                        winner
0    1901   Chemistry  Jacobus Henricus van 't Hoff
1    1901  Literature               Sully Prudhomme
2    1901    Medicine        Emil Adolf von Behring
3    1901       Peace             Jean Henry Dunant
4    1901       Peace                Frédéric Passy
..    ...         ...                           ...
964  2016    Medicine              Yoshinori Ohsumi
965  2016       Peace            Juan Manuel Santos
966  2016     Physics             David J. Thouless
967  2016     Physics          F. Duncan M. Haldane
968  2016     Physics         J. Michael Kosterlitz

[969 rows x 3 columns]

In [206]:
#Question 11: Write a query to count the number of Nobel prize winners from Netherlands.
#Since no column for countries, replaced Netherlands for subject == 'Physics'
len(nobel.loc[nobel['subject'] == 'Physics'] ['winner'].unique())

203

In [211]:
#Question 12: Write a query to find the number of Nobel prize winners of each country.
#Since no column for countries, replaced countries for subject.
nobel.groupby('subject').count()['winner']

subject
Chemistry     194
Economics      83
Literature    113
Medicine      227
Peace         130
Physics       222
Name: winner, dtype: int64

In [213]:
#Question 13: Write a querie to count the number of Nobel prize winners in Physics.
len(nobel.loc[nobel['subject'] == 'Physics'] ['winner'].unique())

203

In [216]:
#Question 14: Write a query to find the number of Nobel prize winners in each subject. 
nobel.groupby('subject').count()['winner']

subject
Chemistry     194
Economics      83
Literature    113
Medicine      227
Peace         130
Physics       222
Name: winner, dtype: int64